html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    width: 1000px;
    margin: 0 auto;
}

/*-------------------------------------------------*/

.article-body p {
    font-size: 13px;
    line-height: 2em;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif
}

.big-middle-column {
    font-size: 14px
}

.article-body p a {
    text-decoration: underline
}

a.download {
    background: url('assets/img/download.png') no-repeat 15px center #f0f0f0;
    padding: 10px 10px 10px 20px;
    margin: 20px 40px 20px 0;
    color: #755c3b;
    display: inline-block;
    width: 155px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px
}

.article-intro .featured-image {
    display: none
}

.article-body .quote,.article-body blockquote p {
    word-wrap: break-word;
    background: #f3f7f0;
    padding: 4px;
    font-size: 14px;
    font-style: italic;
    line-height: 1.5em;
    font-weight: 400!important
}

.article-body .blockquote-full {
    background: #f3f7f0;
    padding: 20px;
    margin: 0 0 1.5em 0;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.5em;
    font-weight: 400!important
}

.article-body .pullquote-l {
    background: #f3f7f0;
    padding: 20px;
    margin: 0 1.5em 1em 0;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.5em;
    float: left;
    width: 30%
}

.article-body .pullquote-r {
    background: #f3f7f0;
    padding: 20px;
    margin: 1.5em 0 1.5em 1.5em;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.5em;
    float: right;
    width: 30%
}

.article-body .wp-caption {
    width: 100%!important
}

.article-body .caption,.article-body .wp-caption-text {
    padding: 20px;
    margin: 0 0 1.5em 0;
    font-style: italic;
    font-weight: 400!important;
    border-bottom: 1px solid #f1f1f1;
    font-size: 1.2em!important;
    line-height: 1.5em;
    color: #ccc
}

.article-body .size-full {
    max-width: 100%
}

.article-body .two-column {
    -moz-column-count: 2;
    -moz-column-gap: 2em;
    -webkit-column-count: 2;
    -webkit-column-gap: 2em;
    margin: 0 0 1.5em 0
}

.article-body ol,.article-body ul,.sidebar-box ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.article-body ol li,.article-body ul li {
    font-size: 13px;
    word-break: break-all;
}

.article-body ul li p {
    padding: 0 10px
}

.article-body ul li,.sidebar-box ul li {
    padding: 0 0 0 1.5em;
    margin: 0 0 1em 1em;
    background-image: url(./assets/img/bullet.png);
    background-repeat: no-repeat;
    background-position: left .5em
}

.article-body ol li {
    list-style-type: decimal;
    margin: 0 0 1em 2.5em;
    padding: 0
}

.article-body ol,.article-body ul {
    margin-top: 1em;
    margin-bottom: 1em
}

.article-body .caption-right {
    display: block
}


/*------------------------------------------------*/

table.reference,table.tecspec {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 4px
}

table.reference .fa {
    font-size: 24px;
}

table.reference tr:nth-child(odd) {
    background-color: #f6f4f0
}

table.reference tr:nth-child(even) {
    background-color: #fff
}

table.reference tr.fixzebra {
    background-color: #f6f4f0
}

table.reference th {
    color: #fff;
    background-color: #555;
    border: 1px solid #555;
    font-size: 12px;
    padding: 3px;
    vertical-align: top;
    text-align: left
}

table.reference th a:link,table.reference th a:visited {
    color: #fff
}

table.reference th a:active,table.reference th a:hover {
    color: #ee872a
}

tr td:first-child {
    min-width: 25px
}

table.reference td {
    line-height: 2em;
    min-width: 24px;
    border: 1px solid #d4d4d4;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top
}

table.reference td.example_code {
    vertical-align: bottom
}

table.summary {
    border: 1px solid #d4d4d4;
    padding: 5px;
    font-size: 100%;
    color: #555;
    background-color: #fafad2
}

/*--------------------------------------*/

span.new {
    float: right;
    color: #fff;
    background-color: #90b575;
    font-weight: 700;
    padding-left: 1px;
    padding-right: 1px;
    border: 1px solid #fff;
    outline: 1px solid #90b575;
    line-height: 16px
}

a {
    color: #64854c;
    text-decoration: none;
    -o-transition-duration: .2s;
    -o-transition-property: opacity;
    -webkit-transition-duration: .2s;
    -webkit-transition-property: opacity
}